## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt
import numpy as np

# Import the API key.
from config import weather_api_key

In [3]:
# Import the API key.
from config import g_key

In [23]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City Id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Natal,BR,-5.7950,-35.2094,77.22,88,40,3.44,scattered clouds
1,1,Hithadhoo,MV,-0.6000,73.0833,81.55,74,89,5.35,overcast clouds
2,2,Esperance,AU,-33.8667,121.9000,58.78,66,0,9.10,clear sky
3,3,Punta Arenas,CL,-53.1500,-70.9167,44.71,61,75,12.66,broken clouds
4,4,Busselton,AU,-33.6500,115.3333,63.66,78,18,12.30,few clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 10
What is your desired maximum temperature for your trip? 90

In [24]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
filtered_cities_df.head(10)

,City Id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Natal,BR,-5.7950,-35.2094,77.22,88,40,3.44,scattered clouds
1,1,Hithadhoo,MV,-0.6000,73.0833,81.55,74,89,5.35,overcast clouds
2,2,Esperance,AU,-33.8667,121.9000,58.78,66,0,9.10,clear sky
3,3,Punta Arenas,CL,-53.1500,-70.9167,44.71,61,75,12.66,broken clouds
4,4,Busselton,AU,-33.6500,115.3333,63.66,78,18,12.30,few clouds
5,5,Yellowknife,CA,62.4560,-114.3525,57.72,94,75,10.36,light intensity shower rain
6,6,Kaset Sombun,TH,16.2805,101.9542,81.72,74,100,1.10,overcast clouds
7,7,Chokurdakh,RU,70.6333,147.9167,66.54,26,100,8.41,overcast clouds
8,8,Gondanglegi,ID,-7.7479,112.0132,80.17,81,38,3.13,scattered clouds
9,9,Albany,US,42.6001,-73.9662,74.62,65,100,3.85,overcast clouds

In [25]:
# 4a. Determine if there are any empty rows.
filtered_cities_df.isnull().sum()

City Id                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [26]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = filtered_cities_df.dropna()
clean_df

,City Id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Natal,BR,-5.7950,-35.2094,77.22,88,40,3.44,scattered clouds
1,1,Hithadhoo,MV,-0.6000,73.0833,81.55,74,89,5.35,overcast clouds
2,2,Esperance,AU,-33.8667,121.9000,58.78,66,0,9.10,clear sky
3,3,Punta Arenas,CL,-53.1500,-70.9167,44.71,61,75,12.66,broken clouds
4,4,Busselton,AU,-33.6500,115.3333,63.66,78,18,12.30,few clouds
...,...,...,...,...,...,...,...,...,...,...
674,674,Esmeraldas,BR,-19.7625,-44.3139,58.24,76,17,3.40,few clouds
675,675,Cayenne,GF,4.9333,-52.3333,82.09,1,0,0.00,clear sky
676,676,Wajir,KE,1.7471,40.0573,74.34,70,31,12.03,scattered clouds
678,678,Rovaniemi,FI,66.5000,25.7167,44.01,93,100,11.50,light rain
679,679,Buraydah,SA,26.3260,43.9750,82.85,16,0,9.91,clear sky

In [27]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Natal,BR,77.22,scattered clouds,-5.7950,-35.2094,
1,Hithadhoo,MV,81.55,overcast clouds,-0.6000,73.0833,
2,Esperance,AU,58.78,clear sky,-33.8667,121.9000,
3,Punta Arenas,CL,44.71,broken clouds,-53.1500,-70.9167,
4,Busselton,AU,63.66,few clouds,-33.6500,115.3333,
5,Yellowknife,CA,57.72,light intensity shower rain,62.4560,-114.3525,
6,Kaset Sombun,TH,81.72,overcast clouds,16.2805,101.9542,
7,Chokurdakh,RU,66.54,overcast clouds,70.6333,147.9167,
8,Gondanglegi,ID,80.17,scattered clouds,-7.7479,112.0132,
9,Albany,US,74.62,overcast clouds,42.6001,-73.9662,

In [31]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [33]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Natal,BR,77.22,scattered clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
1,Hithadhoo,MV,81.55,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,Esperance,AU,58.78,clear sky,-33.8667,121.9000,Hospitality Esperance
3,Punta Arenas,CL,44.71,broken clouds,-53.1500,-70.9167,Hotel Hain
4,Busselton,AU,63.66,few clouds,-33.6500,115.3333,Observatory Guest House

In [34]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))